* {
  box-sizing: border-box;
}

@font-face {
  font-family: billy;
  src: url(Billy-Light.ttf);
}

html {
  font-size: 20px;
  font-family: billy, monospace;
}

body {
  background-color: white;
  margin: 0;
  height: 100%;
}

.body-text {
  width: 80%;
  height: 100%;
  margin-left: auto;
  background-color: rgb(146, 198, 150);
  padding: 5rem 2rem 2rem 2rem;
}

.home .body-text p {
  text-align: center;
  font-size: 2rem;
}

.portfolio .page-title {
  border-bottom: 1px solid black;
}

.about .section {
  border-top: 1px solid black;
}

.portfolio .section {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

.portfolio .section-title {
  border-bottom: 1px solid black;
}

.portfolio .section-div {
  height: 20rem;
}

.image-left {
  float: left;
  margin-left: 0px;
  margin-right: 1rem;
}

.portfolio .image-left {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.image-right {
  float: right;
  margin-right: 0px;
}

.about .image-right {
  margin-left: 1rem;
}

.portfolio .image-right {
  width: 33%;
  height: 100%;
  object-fit: cover;
  margin-left: 0.5rem;
}

.about img {
  height: 12rem;
}

.portfolio img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.paragraph {
  text-align: justify;
}

.about .paragraph {
  min-height: 13rem;
}

.portfolio .paragraph {
  height: 20rem;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.portfolio .paragraph::-webkit-scrollbar {
  width: 0.5rem;
}

.portfolio .paragraph::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  background-color: grey;
  border-radius: 0.5rem;
}

.portfolio .paragraph::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 5px black;
}

.portfolio .paragraph::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 247, 255);
  box-shadow: inset 0 0 5px purple;
}

.foot-div {
  /* width: 100%; */
  font-size: 0.8rem;
  text-align: center;
  background-color: rgba(175, 175, 175, 0.8);
  box-shadow: rgba(15, 56, 15, 0.8) 3px 3px 3px;
  position: fixed;
  right: 3px;
  bottom: 3px;
  padding: 0.5em;
  z-index: 8;
  border-radius: 10px;
  box-shadow: rgba(15, 56, 15, 0.8) 3px 3px 3px;
  pointer-events: none;
  color: rgb(15, 56, 15);
}

.body-container {
  position: absolute;
  top: 5em;
  left: 8em;
  width: 80%;
  height: 83%;
  z-index: 9;
  display: inline;
  background-color: rgba(175, 175, 175, 0.8);
  box-shadow: rgba(15, 56, 15, 0.8) 3px 3px 3px;
  pointer-events: none;
  border-radius: 10px;
}

.content-box {
  position: relative;
  background-color: rgba(15, 56, 15, 0.8);
  color: rgb(139, 172, 15);
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5em;
  box-shadow: rgba(15, 56, 15, 0.8) 3px 3px 3px;
}

.content-box h1 {
  margin: 0;
  text-align: right;
  font-size: 2em;
  margin-bottom: 1rem;
}

.content-box h2 {
  margin: 0;
  text-align: left;
  margin-bottom: 0.8rem;
}

.section-text {
  text-align: justify;
  margin-bottom: 1rem;
  text-indent: 1em;
}
